<form class="form">
  <div class="form_header">
    <h4>Восстановление пароля</h4>
  </div>
  <div class="form_item">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" value="">
  </div>
  <a class="btn-back btn-flip">Войти</a>
  <div class="form_footer">
    <div class="message">


      <!--<span class="error">-->
      <!--if email error-->
      <!--</span>-->

    </div>

    <button type="submit" class="btn" name="reset-password">Восстановить</button>
  </div>

</form>

