<div class="front" id="enter-form">

  <form class="form" [formGroup]="enterForm" (ngSubmit)="onSubmit()">
    <div class="form_header">
      <h4>Вход</h4>
    </div>

    <!--login-->

    <div class="form_item">
      <label for="login">Логин:</label>
      <input
          id="login"
          type="text"
          formControlName="login"
      >
      <span  class="error" *ngIf="enterForm.get('login').invalid && enterForm.get('login').touched">
        <span *ngIf="enterForm.get('login')['errors']['required']">
          Поле логин обязательно
        </span>
        <span *ngIf="enterForm.get('login')['errors']['maxlength']">
          Не более 15 символов
        </span>
      </span>
    </div>

    <!--password-->

    <div class="form_item">
      <label for="password">Пароль:</label>
      <input
          id="password"
          type="password"
          formControlName="password"
      >
      <span class="error" *ngIf="enterForm.get('password').invalid && enterForm.get('password').touched">
        <span *ngIf="enterForm.get('password')['errors']['required']">
          Поле пароль обязательно
        </span>
        <span *ngIf="enterForm.get('password')['errors']['minlength']">
          Не менее 6 символов
        </span>
      </span>
    </div>

    <!--checkbox-->

    <div class="flex-between">
      <a class="btn-front btn-flip" >Забыли пароль?</a>
      <p>
        <input type="checkbox"
               id="remember-me"
               formControlName="remember"
        >
        <label for="remember-me" class="remember-me">Запомнить меня
          <span class="teal"></span>
        </label>
      </p>
    </div>

    <div class="form_footer">
      <div class="message">
        <span  class="{{message.type}}" *ngIf="message.text">{{message.text}}</span>
      </div>

      <button type="submit" class="btn" [disabled]="enterForm.invalid">Войти</button>
    </div>

  </form>
</div>
